@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}
boby {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
/*HAEDER*/
.wrapper {
  /*width: 75%;*/
  margin: auto 0 12.5%;
}

.hidden {
  overflow: hidden;
  width: 0;
  height: 0;
  margin: -1;
  position: absolute;
}
.site-haeder {
  /*background-color: #050505;*/
	/*background: url(../img/Header/balet2.jpg)*/
  background: url(../img/Header/Header\ 1.png);
	width: 1280px;
  height: 699px;

  color: #fffbfb;
}

.site-haeder .wrapper {
  padding: 0px;
}

.main-nav {
  display: flex;

  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*color: aliceblue;*/
}

.logo {
  width: 188px;
  height: 51px;
	margin-top: 35px;
	margin-left: 35px;
  margin-right: 123px;
}
ul {
  list-style: none;
}
.site-menu {
  display: flex;
	margin: 8px;
	font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  color: aliceblue;
  /*column-gap: 35;*/
}
.site-menu a {
  text-decoration: none;
  display: block;
  color: #fffbfb;
  margin-right: 45px;
}
.site-menu li:last-child > a {
  margin: 0%;
}
/*mail phon*/
.contact-menu {
  display: flex;
  margin: 45px;
  margin-left: auto;
  column-gap: 42px;
}
.contact-menu .icon {
  display: flex;
	display: block;
  width: 30px;
  height: 30px;
  
}

/* end mail phon */
