@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}
boby {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
/*HAEDER*/
.wrapper {
  /*width: 75%;*/
  /*margin: auto 0 12.5%;*/
	margin: 0 auto;
}

.hidden {
	position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  margin: -1px;
	opacity: 0;
}
.site-haeder {
  /*background-color: #050505;*/
	background-image: url(../img/Header/Balet_1.png);
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: cover;
	justify-content: flex-end;
	display: list-item;
	width: auto;
	  /*height: 699px; !!!!!!*/ 
  /*color: #fffbfb;*/
}
.site-haeder .wrapper {
  padding-top: 10px;
	padding-bottom: 100px;
}
.main-nav {
  display: flex;
	margin-bottom: 5px;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*color: aliceblue;*/
}
.logo {
  width: 188px;
  height: 51px;
	margin-top: 35px;
	margin-left: 35px;
  margin-right: 123px;
}
ul {
  list-style: none;/* точки*/
}
.site-menu {
  display: flex;
	align-items: center;
	margin: 8px;
	/*color: aliceblue;*/
  /*column-gap: 35;*/
}
.site-menu a {
	display: flex;
  text-decoration: none;
  display: block;
  color: #fffbfb;
  margin-right: 45px;
	font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
/*.site-menu li:last-child > a {
  margin: 0%;
}*/
/*mail phon*/
.contact-menu {
  display: flex;
  margin: 45px;
	margin-left: auto;
  column-gap: 42px;
}
.contact-menu .icon {
  /*display: flex;*/
	display: block;
  width: 35px;
  height: 30px;
  }
	.contact-menu .icon-mail {
		display: flex;
		margin-right: auto;
		display: block;
		background: url(../img/Header/email.png) no-repeat; 
	}
	.contact-menu .icon-phone {
		display: flex;
		margin-right: auto;
		display: block;
		background: url(../img/Header/phon.png) no-repeat;
	}
	.btn-record {
			box-sizing: border-box;
	/* Auto layout */
		display: flex;
		/*flex-direction: row;*/
		text-decoration: none;
		justify-content: center;
		align-items: center;
		/*padding: 15px 24px;*/
		gap: 10px;
		position: absolute;
		width: 227px;
		height: 50px;
		/*left: 997px;*/
		right: 45px;
		top: 715px;
		font-family: "Montserrat", sans-serif;
		font-size: 12px;
		font-weight: 600;

		background: #D9D9D9;
		border: 3px solid #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 36px;
	}
					/* end mail phon */
					/* end contact menu */
	.akademia {
		width: auto ;
		padding-left: 65px;
	}
.title {
	font-family: Roboto Slab;
	font-size: 64px;
	font-weight: 400;
	line-height: 94px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0px 640px 370px 78px;
	width: 562px;
	color: #FFF;
}
.title_2 {
	position: absolute;
	display: flex;
	align-items: center;
	left: 130px;
	top: 427px;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	color: #FFFBFB;
}
.text {
	display: flex;
	align-items: center;
	position: absolute;
	width: 350px;
	height: 93px;
	left:265px;
	top: 597px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 35px;
	line-height: 60px;
	color: #FFFBFB;
}
									/*main*/
	.content_Loginava {
		display: flex;
		background: #F5F5F5;
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: cover;
		padding: 30px;
		/*align-items: center*/
		/*margin: 30px;*/
		width: auto;
		padding-left: 180px;
		padding-right: 180px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 36px;
		color: #0c0c0c;
	}
	.Loginova-column {
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
		}
		.title_LogE {
		text-align:center;
		padding: 30px;
		text-align: center;
		}
p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	/*padding: 100px;*/
}
				/*Loginova end*/
					/*team start*/

	.content_team {
		background: #FFFBFB;
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: cover;
		padding: 30px;
		width: auto ;
		padding-left: 80px;
		padding-right: 80px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 36px;
		color: #0c0c0c;
	}
	.column-team {
		display: flex;
		width: auto;
		height: auto;
    gap: 10px 80px;
		
		/*max-width: 480px;*/
		
	}
				/*Ivanova*/
	.left_Ivanova-column {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
	}
	.Ivanova-photo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title_IvanO {
		text-align:center;
		padding: 30px;
	}
	.Olga_rezim {
		width: auto;
		height: auto;
	}

					/*Petrov*/
	.center_Petrov-column {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
	}
	.Petrov-photo {
		display: flex;
		justify-content: center;
		align-items: center;
		/*width: auto;
		height: auto;*/
	}
	.title_PetK {
		text-align:center;
		padding: 30px;
	}
	.Petrov_rezim {
		width: auto;
		height: auto;
	}

					/* Cidrova*/
	.right_Cidrova-column {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
	}
	.Cidrova-photo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title_CidN {
		text-align:center;
		padding: 30px;
	}
	.Natalia_rezim {
		width: auto;
		height: auto;
	}
						/* end team */

	.services {
		background: #F5F5F5;
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: cover;
		padding: 30px;
		width: auto ;
		padding-left: 80px;
		padding-right: 80px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font: size 16px;
		line-height: 36px;
		color: #0c0c0c;
	}
	.column_services {
		display: flex;
		width: auto;
		height: auto;
		flex-direction: column;
		flex-grow: wrap;
		}
.column_row1 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-between;
		align-items: stretch;
		gap: 10px 160px;
		padding-bottom: 30px;
}
.Group_DETI {
	width: 50%;
	height: auto;
}
.photo_Deti {
		display: flex;
		justify-content: center;
		align-items: center;
}
.titel_deti {
	text-align:center;
	padding: 30px;
}
.Group_PODROCTKI {
	width: 50%;
	height: auto;
}
.photo_podroctki {
	display: flex;
	justify-content: center;
	align-items: center;
}
.titel_podroctki {
	text-align:center;
	padding: 30px;
}
.column_row2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;
	gap: 10px 160px;
}
.Group_NEW_BALET {
	width: 50%;
	height: auto;
}
.photo_NEW_BALET {
	display: flex;
	justify-content: center;
	align-items: center;
}
.titel_NEW_BALET {
	text-align:center;
	padding: 30px;
}
.Group_HEGH_HEDS {
	width: 50%;
	height: auto;
}
.HEGH_HEDS {
	display: flex;
	justify-content: center;
	align-items: center;
}
.titel_HEGH_HEDS {
	text-align:center;
	padding: 30px;
}
		/*		end services 		*/
		/*	start	review		*/

.content_reviews {
	background: #FFFBFB;
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: cover;
	padding: 30px;
	width: auto;
	height: auto;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	color: #0c0c0c;
	}
.titel_reviews {
	text-align:center;
	padding: 30px;
}
.column-reviews {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;
	gap: 10px 80px;
	padding-bottom: 30px;
	
}
/*		footer		*/

/*.footer-columns .right-column {
	padding-top: 25px;
	display: flex;
	max-width: none;
	column-gap: 80px;
} */
.footer-menu {
	width: 180px;
}
.footer-submenu-title {
	display: block;
	margin-bottom: 50px;
	padding-bottom: 20px;

	font-size: 14px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;

	border-bottom: 1px solid #555555;
}  
.footer-submenu > li {   
	margin-bottom: 20px;
}  
.footer-submenu a {
	text-decoration: none;
	color: #888888;
}  
.timetable-fligts{
	font-family: 'Caveat', cursive;
}
